/*  Fonts  */

@font-face {
    font-family: Hershey;
    src: url("fonts/HersheyComp.woff2");
    font-display: swap;
}

@font-face {
    font-family: Manifont-Italic;
    src: url("fonts/ManifontGroteskBookItalic-webfont.woff");
    font-display: swap;
}

@font-face {
    font-family: Adelphe-Regular;
    src: url("fonts/Adelphe-FructidorRegular.woff2");
    font-display: swap;
}

@font-face {
    font-family: Adelphe-Italic;
    src: url("fonts/Adelphe-FructidorItalic.woff2");
    font-display: swap;
}

/*  Root and setup  */

:root {
    /*  Colors  */
    --foreground: #fff;
    --background: #fff;

    /*  Spacers */
    --space-xxs: 4px;
    --space-xs: 8px;
    --space-s: 16px;
    --space-m: 32px;
    --space-l: 64px;
    --space-xl: 128px;
    --space-xxl: 256px;
    
    --week-separator : 340px;

    /*  Font sizes */
    --body: 16px;
    --h1: 360px;
    --h2: 48px;
    --text: 24px;
}

html, body {
    margin: 0;
    width: 100%;
    width: 100%;
    font-size: var(--body);
}

main {
    display: grid;
}

/*  Media queries  */



/*  Styles  */
/*  Main  */

.week {
    width: auto;
    max-width: calc(100vw - var(--space-l));
    height: auto;
    min-height: 340px;
    font-family: Hershey;
    padding: 0 var(--space-m) 0 var(--space-m);
}

.week-separator {
    height: var(--week-separator);
    display: block;
}

.one {
    background-color: aquamarine;
}

.two {
    background-color: chartreuse;
}

.three {
    background-color: #ff9966;
}

.null {
    background-color: #fffd55;
}

.title-grid {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    position: sticky;
    top: 0;
}

.title {
    font-size: var(--h1);
    text-align: center;
    margin-top: calc(-1 * var(--space-m));
    margin-bottom: calc(-1 * var(--space-l) - var(--space-s));
    line-height: 1;
}

.sub-title {
    font-size: var(--h2);
    text-transform: uppercase;
    text-align: center;
    grid-row-start: 2;
    padding: 0 var(--space-s) var(--space-s) var(--space-s);
}


.week-container {
    width: 100%;
    height: auto;
    min-height: 90vh;
    display: none;
}

.show {
    display: block !important;
}


/*  Styles  */
/*  Weeks  */

h2 {
    font-family: Manifont-Italic;
    font-size: var(--h2);
}

.text {
    font-family: Adelphe-Regular;
    font-size: var(--text);
    width: 100%;
    max-width: 640px;
}

.quote {
    font-family: Adelphe-Italic;
    font-size: var(--text);
    padding: var(--space-s) 0 var(--space-s) var(--space-m);
    width: calc(100vw - var(--space-m));;
    max-width: calc(640px - var(--space-m));
}
.quote img{
    width: 100%;
    max-width: calc(640px - var(--space-m));
}

.ref {
    color: blue;
    width: min-content;
    display: inline-block;
    vertical-align: super;
    font-size: smaller;
}

.ref .citation {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: var(--space-xs) var(--space-s) var(--space-xxs) var(--space-s);
    border-radius: var(--space-l);
    position: absolute;
    margin-left: -6px;
    margin-top: -40px;
    z-index: 1;
}

.ref:hover .citation, .ref:hover .citation:hover {
    visibility: visible;
}

i {
    font-family: Adelphe-Italic;
    font-style: normal;
}